.chartBarContainer {
  display: flex;
  justify-content: space-between;
  color: #fff;
  height: 11rem;
}

.chartBar {
  height: 10rem;
  border: 0.1rem solid #fff;
  border-radius: 1rem;
  transform: rotate(180deg);
}

.chartBarFill {
  background-color: #ff80ff;
  /* height: 80%; */
  border-radius: 1rem;
  transition: all 0.5s;
}

.month {
  padding: 0.2rem;
}
